<div class="head-container">
   <div class="row">
      <div class="landing" id="landing">
         <header class="col-xs-12">
            <h1>Matthew Curran</h1>
            <h3>Full Stack Developer</h3>
         </header>
         <br>
         <br>
         <div class="professional-links">
            <span><a href="https://www.linkedin.com/in/matthew-curran-tech/" target="_blank"><i class="fab fa-linkedin icon"></i></a></span>
            <span><a href="https://github.com/five3183" target="_blank"><i class="fab fa-github-square icon"></i></a></span>
         </div>
         <br>
         <div class="resume">
            <span><a href="assets/images/resume.pdf">RESUME</a></span>
         </div>
      </div>
   </div>
</div> 
