<div class="container">
   <div class="skills row" id="skills">
      <header>
         <h1>My Coding Skills</h1>
         <hr>
      </header>
      <div class="skills-list col">
         <ul>
            <div class="languages">
               <li>HTML</li>
               <li>CSS</li>
               <li>JavaScript</li>
            </div>
         </ul>
         <ul>
            <div class="cheat-codes">
               <li>jQuery</li>
               <li>SASS</li>
               <li>SCSS</li>
            </div>
         </ul>
         <ul>
            <div class="front-frameworks">
               <li>Bootstrap</li>
               <li>Materialize</li>
            </div>
         </ul>
         <ul>
            <div class="back-frameworks">
               <li>Express</li>
               <li>Node</li>
            </div>
         </ul>
         <ul>
            <div class="database">
               <li>MySQL</li>
               <li>MongoDB</li>
            </div>
         </ul>
         <ul class="js-library">
            <div>
               <li>Handlebars</li>
               <li>React</li>
               <li>Angular</li>
            </div>
         </ul>

      </div>
   </div>
</div>